@import "tailwindcss";

@theme {
    --color-black-dark: #00000050;
    --color-white-dull: #ffffffb3;
    --color-white-light: #ffffff30;
    --color-white-medium: #ffffff40;
    --color-primary: #AE4562;
    --color-secondary: #245581;
    --color-secondary-light: #5890C9;
    --color-primary-light: #F099BF;
    --color-primary-dull: #F5EFF2;
    --font-display-poppin: "Poppins";
}